<!-- <main class="application">
	
	<div class="nav">
		<h1>Technico</h1>

		<div *ngIf="isTokenPresent">
			
			<a routerLink="/" class="nav-link">Home</a>
			<a routerLink="/property" class="nav-link">Property</a>
			<a routerLink="/property-owner-details" class="nav-link">Property owner details</a>
			<a routerLink="/property-owner-homepage" class="nav-link">Property owner
				homepage</a>
			<a routerLink="/property-owner-and-properties" class="nav-link">Property
				owner and properties</a>
			<a routerLink="/property-repair" class="nav-link">Property repair</a>
			<a routerLink="/repairs" class="nav-link">Repairs</a>

			<button (click)="logout()">Logout</button>
		</div>
	</div> -->

	<!-- what is rendered here is based on the router.
		so if the user is on page /page1 then the component
		from /src/app/page1 is rendered. If the user is on page
		/page2 then /src/app/page2.

		You can see the router configuration at
		src/app/app.routes.ts
	
	-->
        <!-- <app-navbar></app-navbar> -->
	
		<router-outlet />
	